<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237405262599-4mfot8li0jbvkmcamnarii8hr6l0i33n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237405262599-4mfot8li0jbvkmcamnarii8hr6l0i33n</string>
	<key>API_KEY</key>
	<string>AIzaSyDnz3oQiCJVY0oFd1MtAVaK71Rk72_Abvo</string>
	<key>GCM_SENDER_ID</key>
	<string>237405262599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UNH.Travelers</string>
	<key>PROJECT_ID</key>
	<string>travelers-ios-application</string>
	<key>STORAGE_BUCKET</key>
	<string>travelers-ios-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237405262599:ios:06e75970403fefe5232ba2</string>
</dict>
</plist>